---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
---

<Layout path="~/" description="falsefox's website about tech, privacy, programming, and links to falsefox's blog and projects.">
  <main>
    <Header/>
    <p>hi, i'm falsefox (she/her), but you can call me fox. I'm a hobbiest programmer, linux user, tech enthusiast, privacy activist, student and autist. you can check out my [<a href="/projects">projects</a>] and my [<a href="/blog">blog</a>] to see what i'm about.</p>
    <p>
    <p>
      check out my <a href="https://github.com/false-fox">github</a>, and you can email me at <b>me@</b> then the domain of my website.
    </p>
  <Footer/>
</main>
<style lang="less">

</style>
</Layout>
