<main>
    <footer>copyright (c) 2024 falsefox. <a href="https://github.com/false-fox/blog">source</a>.</footer>
</main>
<style>
    footer {
        bottom: 0px;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 0.9em;
    }
</style>