<main>
  <h1 id="title">falsefox</h1>
    <div id="navbar">
    <a><a id="home_nav" href="/#">~/</a></a>
    <p><a id="blog_nav" class="left" href="/blog">/blog</a></p>
    <p><a id="projects_nav" class="left" href="/projects">/projects</a></p>
  </div>
  <p id="construction">As of 4/28/2024, this website is being remodeled! Please pardon the poor design in the mean time.</p>
  <hr />
</main>
<script is:inline>
//there's probably a way to do this with just CSS but the script is so simple
//that i don't feel the need to spend time developing a CSS only solution.
switch (window.location.pathname.split("/")[1]) {
    case "blog":
      var element = document.getElementById("blog_nav")
      element.classList.add("underlined")
      break;
    case "projects":
      var element = document.getElementById("projects_nav")
      element.classList.add("underlined")
      break;
    default:
      var element = document.getElementById("home_nav")
      element.classList.add("underlined")
      break;

  }
</script>
<style lang="less">
  .underlined {
    text-decoration: underline !important;
  }
  #title {
    font-size: 4em;
    margin: 0px;
  }
  #navbar {
    display: flex;
    align-items: center;
    a {
      color: white;
      text-decoration: none;
      &:visited {
        color: white;
        text-decoration: none;
      }
    }
    a:hover {
      color: gray;
      transition: 100ms;
      a {
        color: gray !important;
      }
    }
    .left {
      margin-left: 2em;
    }
  }
  #construction {
    background-color: rgb(255, 160, 36);
    padding-left: 1em;
    color: rgb(0, 0, 0);
    margin-bottom: 0px;
  }
  hr {
    margin-top: 0px
  }
</style>
