---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro"
import Header from "../../components/Header.astro"
import Project from "../../components/Project.astro"
---
<Layout path="/projects" description="falsefox's projects">
    <Header/>
    <main>
        <Project description="Garakei.Wiki is an open source project to document Japanese Feature phones/dumb phones (Garakei ガラケイ). Garakei.wiki uses Github for organization, Github Pages for hosting and Hugo as a framework." name="Garakei Wiki" url="https://github.com/false-fox/garakei-wiki" image="/images/logo512.png"/>
    </main>
    <Footer/>
</Layout>