---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro"
import Header from "../../components/Header.astro"
import Project from "../../components/Project.astro"
---
<Layout path="/projects" description="falsefox's projects">
    <Header/>
    <main>
        <Project description="A work in progress recipe website/food block for vegetarian food, created out of spite for the poor ui/ux of food blogs." name="foxeats" url="/projects" image=""/>
        <Project description="A side project of mine to create software to create and customize QR codes." name="foxqr" url="https://qr.falsefox.dev" image=""/>
    </main>
    <Footer/>
</Layout>