---
const { frontmatter } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BlogpostSEO from "../components/BlogpostSEO.astro";
import Layout from "./Layout.astro";

---
<BlogpostSEO frontmatter={frontmatter}/>
<Layout path="blogpost" description="/thiswillbeoverwrittenanyway...">
  <body>
    <Header />
    <main>
      <section>
        <div>
          <h2 data-pagefind-meta="title">{frontmatter.title}</h2>
          <p><i>{frontmatter.description}</i></p>
          <p>by {frontmatter.author} - {frontmatter.pubDate.slice(0, 10)}</p>
          <hr />
        </div>
      </section>
      <section data-pagefind-body>
        <slot />
      </section>
      <Footer />
    </main>
  </body>
</Layout>

<style is:inline>
  img {
    max-width: 50% !important;
    max-height: 20em;
    border: 2px solid black;
  }
</style>
